<div class="action-buttons">
  <ng-container *ngIf="cartIncludesItem(cart$ | async); else showButton">
    <div class="flex">
      <p class="added-to-cart" [class.green]="lightModeEnabled">
        <mat-icon>check_circle</mat-icon>
        Added to cart
      </p>
      <button mat-fab extended (click)="removeFromCart()" color="warn" matTooltip="Remove from cart" matTooltipPosition="above" aria-label="Remove item from cart">
        <mat-icon>delete</mat-icon>
        Remove
      </button>
    </div>
</ng-container>

<ng-template #showButton>
  <button mat-raised-button color="primary" (click)="addToCart()">
    <mat-icon>add_shopping_cart</mat-icon>
    Add to cart
  </button>
</ng-template>

<button (click)="showDialog()" mat-raised-button color="primary">
  <mat-icon>exit_to_app</mat-icon>
  Buy now
</button>
</div>