.dialog
  height: fit-content

.mdc-dialog__content
  padding: 0 24px
  margin: 15px 0 -5px

  p
    margin: 0

.mat-mdc-dialog-actions
  gap: 5px
  margin: 10px 15px

button
  border: 1px solid gray

h2
  font-family: 'Share Tech Mono', monospace !important
  font-weight: 900 !important
  border-bottom: 1px solid #e0dbdb