<ng-container *ngIf="(showOverlay$ | async) as showOverlay">
  <!-- <ng-container> -->
  <section id="loginOverlay" class="overlay" (click)="hideOverlayOnBodyClick($event)">
    <div class="content">
      <p class="subtitle">Sign in or create a new account.</p>
      <div class="padding">
        <mat-icon class="close" (click)="hideOverlay()">close</mat-icon>
        <mat-tab-group (selectedTabChange)="tabChange($event)">
          <mat-tab label="Login">
            <app-auth-form [formType]="formType"></app-auth-form>
          </mat-tab>

          <mat-tab label="Signup">
            <app-auth-form [formType]="formType"></app-auth-form>
          </mat-tab>

          <mat-tab label="Login with Google">
          </mat-tab>

          </mat-tab-group>
          <ng-container *ngIf="(status$ | async) === 'success'">
            <p class="confirmation-text">
              <mat-icon class="confirmation-icon">check_circle</mat-icon>
              Successfully {{ formType === 'Login' ? 'logged in.' : 'signed up. You can now log in to your account.' }}
            </p>
          </ng-container>
      </div>
    </div>
  </section>
</ng-container>
