h2
  margin: 0

.subtitle
  margin: 30px 30px 20px
  display: flex
  align-items: center
  gap: 20px

.bg
  background: url('/assets/products.png')
  display: block

.heading
  padding: 80px 0 0

.header-flex
  display: flex
  flex-direction: column
  align-items: center
  border-bottom: 5px solid gray

  img
    max-width: 500px
    aspect-ratio: 1.5

.products-header-image
  max-width: 700px !important
  aspect-ratio: 2 !important

.negative-margin
  margin: -20px 0 0
  scale: 1.2

.heading img
  left: auto

.heading p
  max-width: 900px
  position: relative
  margin: 0 20px 40px 20px
  color: whitesmoke
    
.product-grid
  margin: 20px
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr))
  gap: 10px 30px

  img
    width: 100%
    display: flex
    margin: 10px auto 0

.product-list
  margin: 20px

  .product-card-header
    padding: 15px
    background: none
    
  .product-card
    margin: 20px auto
    display: flex
    align-items: center
    flex-direction: row

  .product-card:hover
    scale: 1.02

.product-card
  margin: 10px auto
  width: 100%
  max-width: 1000px
  border-radius: 0
  transition: all 0.3s ease-in-out
  box-shadow: 0px 3px 15px rgba(0,0,0,0.4)

.product-card:hover
  scale: 1.03
  box-shadow: 0 0 15px var(--productCardBoxShadow)

.product-card-overlay
  position: absolute
  top: 0
  left: 100%
  right: 0
  background: var(--productCardOverlay)
  overflow: hidden
  width: 0
  height: 100%
  transition: .5s ease
  pointer-events: none

.product-card:hover .product-card-overlay
  width: 100%
  left: 0

.bring-to-front
  position: relative
  z-index: 1

.wishlist-button, .wishlist-message-card
  position: absolute
  pointer-events: all
  bottom: 10px
  left: 10px
  width: 180px

.push-right, .fit-content
  right: 5px
  left: auto
  z-index: 1

.fit-content
  width: fit-content

.wishlist-message-card p
  margin: 0
  padding: 10px

.remove
  width: 90%
  margin: -5px 0 5px

.product-card-header
  position: relative
  display: block
  padding: 15px 15px 0

.dark
  background-color: var(--productCardBg)
  color: whitesmoke

.black
  color: #212121

.product-card-content
  flex-grow: 1
  display: flex
  flex-direction: column
  justify-content: space-between

.mat-mdc-card-content
  flex-grow: 1
  display: flex
  flex-direction: column
  justify-content: space-between
  cursor: pointer
  padding: 0

.product-subtitle
  margin: 10px 0 0
  display: flex
  flex-wrap: wrap
  align-items: center
  gap: 10px

.product-title
  z-index: 2
  font-size: 20px
  font-weight: 700
  cursor: pointer
  transition: all 0.4s ease

.product-title:hover
  text-decoration: underline
  color: var(--headingHoverColor)

.product-image
  max-width: 300px
  cursor: pointer

.product-description
  line-height: 1.3
  padding: 15px 0
  margin: 0 13px

.price
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 10px

.stock, .added-to-cart
  display: flex
  gap: 5px
  align-items: center

.mat-mdc-card-actions
  justify-content: center

.mdc-card__actions > *
  flex-grow: 1
  max-width: 400px

.chip
  color: #ffc72c
  scale: 1.2
  padding: 5px

.product-header-stats
  display: flex
  flex-wrap: wrap
  gap: 10px

  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
    margin: 10px 0
    background-color: #4527a0

.bold
  margin: 7px 10px

@media (max-width: 500px)
  .product-grid
    display: block

  .product-card
    margin-bottom: 25px

  .empty
    margin: 0 auto 30px
    padding: 10px 30px 30px

  .heading
    padding: 35px 0 0

@media (max-width: 380px)
  .product-grid, .product-list
    margin: 20px 0

  .product-card
    margin: 20px 0