.mat-badge-content
  padding: 3px
  margin: -10px

.stars
  color: #ffc72c
  scale: 1.2
  padding: 5px

.rating-chip
  margin: -6px 15px 6px 0

  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
    background-color: #4527a0