.page-not-found-section
  margin: 120px 0 50px

.page-not-found-header
  width: fit-content
  margin: 0 auto

.page-not-found-header h1
  text-align: center

.page-not-found-header button
  display: block
  font-size: 20px
  height: 50px !important
  font-weight: 700
  width: 100%

.svg-404
  max-width: 800px
  display: block
  margin: 20px auto
    
@media (max-width: 1000px)
  .page-not-found-header
    margin-bottom: 40px

  .page-not-found-header h1
    font-size: 20px

  .page-not-found-header button
    font-size: 16px
    height: 40px !important 

@media (max-width: 800px)
  .page-not-found-section
    margin: 160px 0 0

@media (max-width: 350px)
  .page-not-found-header
    margin-bottom: 0

  .page-not-found-section *
    font-size: 16px !important
