<ng-container *ngIf="loading; else checkout">
  <app-spinner></app-spinner>
</ng-container>

<ng-template #checkout>
  <main>
    <h1>Checkout</h1>
    <section>
      <mat-stepper #stepper
        (selectionChange)="handleStepperChange($event)"
        [orientation]="(stepperOrientation$ | async)!">

        <mat-step [label]="expressCheckoutItem ? 'Order item' : 'Order items'">
          <app-order-items></app-order-items>
        </mat-step>
  
        <mat-step 
          [stepControl]="billingAddressFormGroup" 
          label="Billing address" 
          [hasError]="!billingAddress && visitedSteps.includes('Billing address')" 
          errorMessage="Billing address is required.">
          <app-address-step
            view="checkout"
            type="billingAddress"
            [addressFormGroup]="billingAddressFormGroup"
            [existingAddress]="billingAddress$ | async"
            [useExisting]="useExisting"
            (addressEvent)="useAddress($event)">
          </app-address-step>
        </mat-step>
  
        <mat-step 
          [stepControl]="shippingAddressFormGroup" 
          label="Shipping address" 
          [hasError]="!shippingAddress && visitedSteps.includes('Shipping address')" 
          errorMessage="Shipping address is required." 
        >
          <app-address-step
            view="checkout"
            type="shippingAddress"
            [addressFormGroup]="shippingAddressFormGroup"
            [existingAddress]="shippingAddress$ | async"
            [useExisting]="useExisting"
            (addressEvent)="useAddress($event)"
          ></app-address-step>
        </mat-step>
  
        <mat-step 
          label="Payment" 
          [hasError]="visitedSteps.includes('Payment')" 
          errorMessage="Payment confirmation is required.">
          <app-payment 
            (paymentEvent)="createOrder($event)"
            [billingAddress]="billingAddress"
            [shippingAddress]="shippingAddress"
            [newOrderId]="(newOrder$ | async)?.id"
          ></app-payment>
        </mat-step>
  
      </mat-stepper>
    </section>
  </main>
</ng-template>