::ng-deep .mdc-snackbar.login-prompt
  max-width: 95vw !important
  //margin-top: 100px
  //transform: translateY(60px) !important

::ng-deep .mat-mdc-snack-bar-label
  white-space: nowrap !important
  overflow: hidden
  text-overflow: ellipsis !important