h2
  margin-bottom: 10px

.subtitle
  margin-bottom: 30px

.margin-left
  margin-left: 30px

.mat-mdc-form-field
  display: block
  margin-bottom: 15px

.mat-mdc-card, .mat-expansion-panel
  margin: 15px 0 0
  max-width: 320px

.extra-margin
  margin: 20px 0

.mat-mdc-card-actions, .mat-expansion-panel-header-title
  display: flex
  justify-content: space-between

.address-button
  font-size: 16px
  margin: 10px

.mat-action-row
  flex-direction: row-reverse
  padding: 10px

h3
  margin: 0 0 15px

p
  margin: 0

.footer-text
  margin: 0 20px 20px

@media (max-width: 500px)
  section
    margin: 0

  h2
    font-size: 20px
