<ng-container *ngIf="(loadStatus$ | async) === 'loading'">
  <app-spinner></app-spinner>
</ng-container>

<ng-container *ngTemplateOutlet="loading"></ng-container>

  <main *ngLet="(orderSearchResult$ | async) as result">
    <ng-container *ngIf="(singleProduct$ | async) as product">
      <div class="heading">
        <img src="assets/product.svg">
      </div>
      <h1>{{ product.name }}</h1>
      <mat-progress-bar *ngIf="(searchStatus$ | async) === 'loading'" mode="indeterminate"></mat-progress-bar>

      <ng-container *ngIf="result?.lastOrdered">
        <div class="notifications">
            <mat-card class="notification">
              <mat-card-header>
                <mat-card-title>
                  <mat-icon color="primary">check</mat-icon>
                  <p>You ordered this product on {{ result!.lastOrdered!.orderDate | date: 'short' }}.</p>
                  <div class="top-card-buttons">
                    <button mat-stroked-button color="primary" [routerLink]="['/orders', result!.lastOrdered!.orderId]">View order.</button>
                    <button *ngIf="showCreateReviewButton" (click)="showDialog(newReviewTemplate(product), 'create')" mat-raised-button color="accent">
                      <mat-icon>rate_review</mat-icon>
                      Review product
                    </button>
                  </div>
                </mat-card-title>
              </mat-card-header>
            </mat-card>
  
          <ng-container *ngIf="result!.review">
            <mat-card class="notification" *ngLet="result!.review! as review">
              <mat-card-header>
                <mat-card-title>
                  <mat-icon color="primary"> rate_review</mat-icon>
                  <p>You reviewed this product on {{ review.createdAt | date: 'short' }}.</p>
                </mat-card-title>
              </mat-card-header>
              <mat-divider></mat-divider>
              <mat-card-content>
                <div class="review-card-icons">

                  <span [matBadge]="review.rating" matBadgeColor="accent" class="rating-chip">
                    <mat-chip>
                      <igc-rating class="stars" [value]="review.rating" min="0" max="5" disabled></igc-rating>
                    </mat-chip>
                  </span>

                  <span *ngIf="review.recommend" class="icon-with-text"><mat-icon color="primary">thumb_up</mat-icon>You recommended this item.</span>
                </div>
                <h3 class="review-text"><mat-icon>format_quote</mat-icon>{{ review.title }}</h3>
                <blockquote class="review-text">{{ review.body }}</blockquote>
              </mat-card-content>
              <mat-divider></mat-divider>
              <ng-container *ngTemplateOutlet="loading"></ng-container>
              <mat-card-actions>
                <button mat-raised-button (click)="showDialog(review, 'update')" color="primary">
                  <mat-icon>edit</mat-icon>
                  Edit review
                </button>
                <button mat-raised-button (click)="deleteReview(review.id)" color="warn">
                  <mat-icon>delete_forever</mat-icon>
                  Delete review
                </button>
              </mat-card-actions>
            </mat-card>
          </ng-container>
          
        </div>
      </ng-container>
     
      <section [class.light-bg]="lightModeEnabled">
        <mat-tab-group selectedIndex="1">

          <!-- Product info tab -->
          <mat-tab label="Product information">
            <div class="product-info-tab">
              <img [src]="'assets/icons/transparent/' + product.thumbnail">
              <div>
                <div class="stats mat-elevation-z4" [class.light-stats-bg]="lightModeEnabled">
                  <div>
                    <span>
                      <p>{{ product.totalRatings }}</p>
                      <mat-icon color="primary">rate_review</mat-icon>
                    </span>
                    <p class="bold">Total ratings</p>
                  </div>

                  <div>
                    <span [matBadge]="product.averageRating" matBadgeColor="accent" class="rating-chip">
                      <mat-chip>
                        <igc-rating class="stars" [value]="product.averageRating" min="0" max="5" disabled></igc-rating>
                      </mat-chip>
                    </span>
                    <p class="bold">Average rating</p>
                  </div>
                  
                  <div>
                    <p>{{ product.stock }}</p>
                    <span class="bold">
                      <mat-icon color="primary">check_box</mat-icon>
                      <p>{{ product.stock > 0 ? "In stock" : "Out of stock." }}</p>
                    </span>
                  </div>
                  <div>
                    <p>{{ product.numOfTimesOrdered }}</p>
                    <span class="bold">
                      <mat-icon color="primary">shopping_basket</mat-icon>
                      <p>Times ordered</p>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="product-information">
              <mat-chip-listbox aria-label="Product information">
                <mat-chip>
                  <mat-icon matChipAvatar>category</mat-icon>
                  {{ product.categoryName }}
                </mat-chip>
                <mat-chip>
                  <mat-icon matChipAvatar>business</mat-icon>
                  Sold by <strong>{{ product.supplierName }}</strong>
                </mat-chip>
              </mat-chip-listbox>
              
              <p>{{ product.description }}</p>
              <mat-chip class="price mat-elevation-z3">{{ product.price | currency: '£' }}</mat-chip>
            </div>

            <div class="buttons">
              <app-action-buttons [product]="product"></app-action-buttons>
            </div>
          </mat-tab>

          <!-- Reviews tab -->
          <mat-tab label="Reviews">
            <app-reviews 
              [showCreateReviewButton]="showCreateReviewButton"
              [newReviewTemplate]="newReviewTemplate(product)"
            ></app-reviews>
          </mat-tab>
        </mat-tab-group>
        <mat-progress-bar *ngIf="(cartUpdateStatus$ | async) === 'loading' && (activeId$ | async) === product.id" mode="indeterminate"></mat-progress-bar>
      </section>
    </ng-container>
  </main>


<ng-template #loading>
  <mat-progress-bar *ngIf="(reviewStatus$ | async) === 'loading'" mode="indeterminate"></mat-progress-bar>
</ng-template>