<ng-container *ngIf="(loadStatus$ | async) === 'loading'">
  <app-spinner></app-spinner>
</ng-container>

<div class="heading">
  <img src="assets/cart.svg">
</div>

<main>
  <section>
    <ng-container *ngIf="(accountData$ | async) as customer">
      <h1 class="username">{{ customer.username }}</h1>
      <p class="name">{{ customer.name }}</p>
      <mat-divider></mat-divider>
      <!-- <h2 [class.light-bg]="lightModeEnabled">Cart items</h2> -->
    </ng-container>
    
    <div class="cart-component">
      <app-cart component="cart-page"></app-cart>
    </div>
   
  </section>    
</main>