// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use "sass:map";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$light-primary: mat.define-palette(mat.$purple-palette, A400);
$light-accent: mat.define-palette(mat.$cyan-palette, 600);

// The warn palette is optional (defaults to red).
$light-warn: mat.define-palette(mat.$pink-palette, 500);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  )
));

$dark-primary: mat.define-palette(mat.$amber-palette, A700);
$dark-accent: mat.define-palette(mat.$cyan-palette, A200, A100, A400);
$dark-warn: mat.define-palette(mat.$pink-palette, 500);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

// $colors: (
//   notification: #18ffff,
//   light-cyan: mat.get-color-from-palette($angular-ecommerce-accent, 200)
// );
// $angular-ecommerce-theme: map-merge($angular-ecommerce-theme, (colors: $colors));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dark-theme);
.light-mode {
  @include mat.all-component-colors($light-theme)
}