header
  position: sticky
  z-index: 2
  top: 70px

::ng-deep .mat-mdc-text-field-wrapper
  //border-radius: 0 !important

.mat-mdc-input-element
  //background: rgba(0, 0, 0, 0) !important

@media(max-width: 1000px)
  .form-field
    width: 100%