<section class="reviews-tab">

  <div class="paginator">
    <app-reviews-pagination [productId]="productId"></app-reviews-pagination>
  </div>

  <ng-container *ngIf="(reviews$ | async) as reviews; else loading">
    <h2>Reviews <span *ngIf="(pagination$ | async) as pagination">({{ pagination.totalResults }})</span></h2>
    <mat-divider></mat-divider>

    <ng-container *ngIf="reviews.length > 0; else noReviews">
      
      <ng-container *ngIf="component === 'product'">
        <ng-container *ngTemplateOutlet="productInfo; context: { product: reviews[0].product!, class: 'reviews-tab-header' }"></ng-container>
      </ng-container>

      <mat-divider></mat-divider>

      <div *ngIf="showCreateReviewButton" class="new-review">
        <button mat-fab extended (click)="showDialog(newReviewTemplate!, 'create')" color="accent">
          <mat-icon>add_comment</mat-icon>
          Post a review
        </button>
      </div>
      
      <mat-list>
        <mat-list-item *ngFor="let review of reviews">
          <mat-card>
            <mat-card-header>
              <ng-container *ngIf="component === 'product'; else noLink">
                <div routerLink="/reviews" [queryParams]="{ customerId: review.customerId}" class="customer-info reviews-link" [matTooltip]="'View reviews posted by ' + review.customer!.username" matTooltipPosition="after">
                  <img [src]="review.customer!.avatar">
                  <p class="bold">{{ review.customer!.username }}</p>
                </div>
              </ng-container>

              <ng-template #noLink>
                <div class="customer-info">
                  <img [src]="review.customer!.avatar">
                  <p class="bold">{{ review.customer!.username }}</p>
                </div>
              </ng-template>

              <mat-card-title>
                <app-rating class="review-rating" [review]="review"></app-rating>
                <h4 class="review-title">
                  <mat-icon class="quote-icon">format_quote</mat-icon>
                  {{ review.title }}
                  <mat-icon>format_quote</mat-icon>
                </h4>
              </mat-card-title>

              <mat-card-subtitle class="list-item-subtitle">
                  <p>Reviewed on {{ review.createdAt | date: 'short' }}</p>
                  <span *ngIf="review.recommend" class="icon-with-text"><mat-icon color="primary">thumb_up</mat-icon>Recommended</span>
              </mat-card-subtitle>
            </mat-card-header>

            <mat-divider></mat-divider>
            <mat-card-content>
              <blockquote>
                <mat-icon class="review-mat-icon" color="primary"> rate_review</mat-icon>
                <p>{{ review.body }}</p>
              </blockquote>
            </mat-card-content>
            <mat-card-actions *ngIf="review.customerId == (loggedInUserId$ | async)">
              <button mat-raised-button (click)="showDialog(review, 'update')" color="primary">
                <mat-icon>edit</mat-icon>
                Edit review
              </button>
              <button mat-raised-button (click)="deleteReview(review.id)" color="warn">
                <mat-icon>delete_forever</mat-icon>
                Delete review
              </button>
            </mat-card-actions>
            <mat-progress-bar *ngIf="(reviewStatus$ | async) === 'loading' && (activeId$ | async) === review.id" mode="indeterminate"></mat-progress-bar>
          
            <ng-container *ngIf="component === 'reviews'">
              <mat-divider class="review-product-info-divider"></mat-divider>
              <h4 class="review-product-info-heading">Product details:</h4>
              <ng-container *ngTemplateOutlet="productInfo; context: { product: review.product!, class: 'review-product-info' }"></ng-container>
            </ng-container>

          </mat-card>
        </mat-list-item>
      </mat-list>
    </ng-container>
    
    <ng-template #noReviews>
      <p>There are no reviews for this {{ component === "product" ? "product" : "customer" }}.</p>
    </ng-template>
    
  </ng-container>

  <ng-template #loading>
    <ng-container *ngIf="(loadStatus$ | async) === 'loading' && component === 'product'">
      <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
      <p class="italic">Loading reviews</p>
    </ng-container>
  </ng-template>
</section>

<ng-template let-product="product" let-class="class" #productInfo>
  <div [ngClass]="class">
    <img [routerLink]="['/products', product.id]" [ngClass]="{'product-image': true, 'disabled': component === 'product'}" [src]="'assets/icons/black/' + product.thumbnail">
    <div>
      <h3 [routerLink]="['/products', product.id]" [class.disabled]="component === 'product'">{{ product.name }}</h3>
      <app-chips [product]="product"></app-chips>
      <h4 class="product-description">{{ product.description }}</h4>
    </div>
  </div>
</ng-template>