<section class="reviews-tab">
  <ng-container *ngIf="(reviews$ | async) as reviews; else loading">
    <h2>Reviews <span>({{ reviews.length }})</span></h2>
    <mat-divider></mat-divider>
    <ng-container *ngIf="reviews.length > 0; else noReviews">
      <div class="reviews-tab-header" *ngLet="reviews[0].product! as product">
        <div>
          <h3>{{ product.name }}</h3>
          <mat-chip-listbox aria-label="Product information">
            <mat-chip>
              <mat-icon matChipAvatar>category</mat-icon>
              {{ product.categoryName }}
            </mat-chip>
            <mat-chip>
              <mat-icon matChipAvatar>business</mat-icon>
              Sold by <strong>{{ product.supplierName }}</strong>
            </mat-chip>
          </mat-chip-listbox>
          <h4 class="product-description">{{ product.description }}</h4>
        </div>
        <img class="product-image" [src]="'assets/icons/black/' + reviews[0].product!.thumbnail">
      </div>

      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item *ngFor="let review of reviews">
          <mat-card>

            <mat-card-header>
              <div class="customer-info">
                <img [src]="review.customer!.avatar">
                <p class="bold">{{ review.customer!.username }}</p>
              </div>

              <mat-card-title>
                <span [matBadge]="review.rating" matBadgeColor="accent" class="rating-chip">
                  <mat-chip>
                    <igc-rating class="stars" [value]="review.rating" min="0" max="5" disabled></igc-rating>
                  </mat-chip>
                </span>
                <h4 class="review-title">{{ review.title }}</h4>
              </mat-card-title>

              <mat-card-subtitle class="list-item-subtitle">
                  <p>Reviewed on {{ review.createdAt | date: 'short' }}</p>
                  <span *ngIf="review.recommend" class="icon-with-text"><mat-icon color="primary">check</mat-icon>Recommended</span>
              </mat-card-subtitle>
            </mat-card-header>

            <mat-divider></mat-divider>
            <mat-card-content>
              <blockquote>
                <mat-icon class="review-mat-icon" color="primary"> rate_review</mat-icon>
                <p>{{ review.body }}</p>
              </blockquote>
            </mat-card-content>
            <mat-card-actions *ngIf="review.customerId == (loggedInUserId$ | async)">
              <button mat-raised-button (click)="showDialog(review)" color="primary">Edit review</button>
            </mat-card-actions>
            </mat-card>
        </mat-list-item>
      </mat-list>
    </ng-container>
    
    <ng-template #noReviews>
      <p>There are no reviews for this product.</p>
    </ng-template>
    
  </ng-container>

  <ng-template #loading>
    <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
    <p class="italic">Loading reviews</p>
  </ng-template>
</section>