.reviews-tab
  padding: 10px

.spinner
  margin: 50px auto

.italic
  text-align: center
  color: gray

.product-image
  height: 200px

h2 span
  font-weight: 100

.mat-mdc-list-item
  height: fit-content
  padding: 0

  img:not(.review-product-info img)
    height: 40px
    width: 40px
    object-fit: cover
    border-radius: 50%

.mat-mdc-card
  margin: 10px 0

.mat-mdc-card-header
  display: flex
  flex-direction: column-reverse
  gap: 10px
  padding-top: 10px

.mat-mdc-card-actions
  margin: 10px
  gap: 10px

.new-review
  display: flex
  justify-content: center
  margin: 20px auto 0

.list-item-subtitle, .reviews-tab-header, .customer-info, .mat-mdc-card-title
  display: flex
  flex-wrap: wrap
  flex-direction: row
  align-items: center
  gap: 30px

.list-item-subtitle
  margin: 8px 0 10px

  p
    margin: 0

.reviews-tab-header
  justify-content: space-between

.reviews-tab-header, .review-product-info
  flex-wrap: nowrap
  gap: 20px
  margin: 10px 0
  align-items: center

.review-product-info
  display: flex
  padding: 10px 16px
  gap: 15px

  img
    cursor: pointer
    transition: all 0.3s ease
    border: 1px solid gray
  
  img:hover
    scale: 1.04
    border: 1px solid var(--primaryColor)

  h3
    cursor: pointer
    text-decoration: underline
    transition: all 0.3s ease

  h3:hover
    color: var(--headingHoverColor)

.review-product-info-heading
  font-style: italic
  margin: 15px 16px -5px

.review-product-info-divider
  margin-top: 15px

.reviews-tab-header div, .review-product-info div
  display: flex
  flex-direction: column
  gap: 10px
  margin: 10px 0

.customer-info
  gap: 10px
  margin-bottom: -5px

.review-date
  margin: 5px 0 0

blockquote *, .review-product-info *
  margin: 0
  word-break: normal
  white-space: normal

.review-mat-icon
  position: absolute
  left: 20px

h3
  margin: 0

.review-title
  margin: 0
  text-decoration: underline

.product-description
  font-weight: 100
  margin: 0

.disabled
  pointer-events: none
  cursor: default

.paginator
  margin: 10px 0

@media (max-width: 500px)
  .reviews-tab
    padding: 5px 0

@media (max-width: 580px)
  .review-product-info, .reviews-tab-header
    flex-wrap: wrap
    gap: 10px