.mat-mdc-dialog-actions
  padding: 15px
  margin: 10px
  justify-content: center
  gap: 10px

.mat-mdc-form-field
  width: 100%
  max-width: 200px

.mat-mdc-dialog-content
  padding-bottom: 0

.mat-mdc-form-field-error
  padding: 0
  display: flex
  gap: 4px
  align-items: center
  justify-content: center

.header
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding: 10px 20px
  border-bottom: 1px solid lightgray

h2
  width: fit-content
  padding: 5px
  top: -8px
  margin: 0 10px
  text-align: center

img
  height: 60px
  border-radius: 50%